{% extends 'base.html' %}

{% block content %}
  <h1>Testovik</h1>
  <p>
    <a href="{% url 'create_test' %}" class="btn btn-primary">Создать тест</a><br>
    <a href="{% url 'logout' %}" class="btn btn-secondary mt-2">Выйти</a>
    <h2>Все тесты</h2>
    <ul>
      {% for test in tests %}
        <li>
          <a href="{% url 'solve_test' test.id %}">{{ test.title }}</a>
          -
          <a href="{% url 'test_results' test.id %}">Результаты</a>
          <!---
          <a href="{% url 'test_details' test.id %}">Редактировать</a>-->
        </li>
      {% empty %}
        <p>No tests available.</p>
      {% endfor %}
    </ul>
  </p>
{% endblock %}