{% extends 'base.html' %}

{% block content %}
  <h1>Testovik</h1>
  <p>
    <a href="{% url 'create_test' %}" class="btn btn-primary">Create a new test</a>
    <br>
    <a href="{% url 'logout' %}" class="btn btn-secondary">Log out</a>
    <h2>All Tests</h2>
    <ul>
      {% for test in tests %}
        <li>
          <a href="{% url 'solve_test' test.id %}">{{ test.title }}</a>
          -
          <a href="{% url 'test_results' test.id %}">Результаты</a>
        </li>
      {% empty %}
        <p>No tests available.</p>
      {% endfor %}
    </ul>
  </p>
{% endblock %}